APP_PORT=

MONGODB_URI=

# Upstash Redis Variables
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# JWT Variables
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

NODE_ENV=

# Cloudinary Variables
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Stripe Variables
STRIPE_PUBLICK_KEY=
STRIPE_SECRET_KEY=

CLIENT_URL=